<form method ="post" action ="/articles">
<<<<<<< HEAD
  <p>Title: <input type ="text" name ="title"></p>
  <p>Content: <textarea name="content"></textarea></p>
=======
  <p>Title: <input type = "text" name ="title"></p>
  <p>Content: <textarea name ="content"></textarea></p>
>>>>>>> 7e369210950c43cf2a2dcff85f3888297c49ad7a
  <br>
  <input type="submit" value="submit">
</form>