<h1><p><%=@article.title%></p></h1>
<br>
<p><%=@article.content%></p>

<form method ="post" action ="/articles/<%=@article.id%>">
<<<<<<< HEAD
  <input type ="hidden" id ="hidden" name ="_method" value ="delete">
=======
  <input type ="hidden" value ="hidden" name ="_method" value ="DELETE">
>>>>>>> 7e369210950c43cf2a2dcff85f3888297c49ad7a
  <input type ="submit" value ="delete">
</form>